<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>News.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C4F7B711C5089900079CA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F7B8A1C5089900079CA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F7B951C5089900079CA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
